################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GerEsportes-BackEnd/FileContentIndex
/.vs/GerEsportes/v17/.wsuo
/.vs/GerEsportes/v17/DocumentLayout.json
/.vs/GerEsportes-BackEnd/v17/.suo
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.AssemblyInfo.cs
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.AssemblyInfoInputs.cache
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.assets.cache
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.csproj.AssemblyReference.cache
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.GeneratedMSBuildEditorConfig.editorconfig
/GerEsportes-BackEnd/obj/GerEsportes-BackEnd.csproj.nuget.dgspec.json
/GerEsportes-BackEnd/obj/GerEsportes-BackEnd.csproj.nuget.g.props
/GerEsportes-BackEnd/obj/project.assets.json
/GerEsportes-BackEnd/obj/project.nuget.cache
*.txt
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile.pubxml
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile.pubxml.user
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile1.pubxml
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile1.pubxml.user
*.json
*.sqlite
################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GerEsportes-BackEnd/FileContentIndex
/.vs/GerEsportes/v17/.wsuo
/.vs/GerEsportes/v17/DocumentLayout.json
/.vs/GerEsportes-BackEnd/v17/.suo
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.AssemblyInfo.cs
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.AssemblyInfoInputs.cache
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.assets.cache
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.csproj.AssemblyReference.cache
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.GeneratedMSBuildEditorConfig.editorconfig
/GerEsportes-BackEnd/obj/GerEsportes-BackEnd.csproj.nuget.dgspec.json
/GerEsportes-BackEnd/obj/GerEsportes-BackEnd.csproj.nuget.g.props
/GerEsportes-BackEnd/obj/project.assets.json
/GerEsportes-BackEnd/obj/project.nuget.cache
/.vs/GerEsportes-BackEnd/v17/.futdcache.v2
/.vs/GerEsportes-BackEnd/v17/DocumentLayout.json
/.vs/ProjectEvaluation/geresportes-backend.projects.v7.bin
/.vs/ProjectEvaluation/geresportes-backend.metadata.v7.bin
/GerEsportes-BackEnd/.config/dotnet-tools.json
/GerEsportes-BackEnd/bin/Debug/net6.0/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/bin/Debug/net6.0/GerEsportes-BackEnd.pdb
/GerEsportes-BackEnd/bin/Debug/net6.0/GerEsportes-BackEnd.exe
/GerEsportes-BackEnd/bin/Release/net6.0/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/bin/Release/net6.0/GerEsportes-BackEnd.exe
/GerEsportes-BackEnd/bin/Release/net6.0/GerEsportes-BackEnd.pdb
/GerEsportes-BackEnd/obj/Debug/net6.0/ref/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/obj/Debug/net6.0/refint/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/obj/Debug/net6.0/apphost.exe
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.csproj.CoreCompileInputs.cache
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.pdb
/GerEsportes-BackEnd/obj/Debug/net6.0/GerEsportes-BackEnd.sourcelink.json
/GerEsportes-BackEnd/obj/Release/net6.0/PubTmp/Out/appsettings.json
/GerEsportes-BackEnd/obj/Release/net6.0/PubTmp/Out/GerEsportes-BackEnd.deps.json
/GerEsportes-BackEnd/obj/Release/net6.0/PubTmp/Out/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/obj/Release/net6.0/PubTmp/Out/GerEsportes-BackEnd.pdb
/GerEsportes-BackEnd/obj/Release/net6.0/PubTmp/Out/GerEsportes-BackEnd.exe
/GerEsportes-BackEnd/obj/Release/net6.0/PubTmp/Out/GerEsportes-BackEnd.runtimeconfig.json
/GerEsportes-BackEnd/obj/Release/net6.0/ref/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/obj/Release/net6.0/refint/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/obj/Release/net6.0/apphost.exe
/GerEsportes-BackEnd/obj/Release/net6.0/GerEsportes-BackEnd.AssemblyInfoInputs.cache
/GerEsportes-BackEnd/obj/Release/net6.0/GerEsportes-BackEnd.csproj.CoreCompileInputs.cache
/GerEsportes-BackEnd/obj/Release/net6.0/GerEsportes-BackEnd.deps.json
/GerEsportes-BackEnd/obj/Release/net6.0/GerEsportes-BackEnd.dll
/GerEsportes-BackEnd/obj/Release/net6.0/GerEsportes-BackEnd.genpublishdeps.cache
/GerEsportes-BackEnd/obj/Release/net6.0/GerEsportes-BackEnd.pdb
/GerEsportes-BackEnd/obj/Release/net6.0/GerEsportes-BackEnd.sourcelink.json
/GerEsportes-BackEnd/obj/Release/net6.0/PublishOutputs.ddf106690f.txt
/GerEsportes-BackEnd/obj/Release/net6.0/staticwebassets.build.json
/GerEsportes-BackEnd/GerEsportes-BackEnd.csproj.user
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile.pubxml
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile.pubxml.user
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile1.pubxml
/GerEsportes-BackEnd/Properties/PublishProfiles/FolderProfile1.pubxml.user
/GerEsportes-BackEnd/Properties/PublishProfiles/geresportes - Zip Deploy.pubxml.user
/.vs/GerEsportes-BackEnd/config/applicationhost.config
/.vs/GerEsportes-BackEnd/DesignTimeBuild/.dtbcache.v2
