<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e8ad0f3a-7ed8-47c0-8023-c3ffb15525bc/resourceGroups/rg-app-gerenciadorAtletas-master-240307151805/providers/Microsoft.Web/sites/geresportes</ResourceId>
    <ResourceGroup>rg-app-gerenciadorAtletas-master-240307151805</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://geresportes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8c65359a-4b14-47d4-8f71-9c382b9080c7</ProjectGuid>
    <PublishUrl>https://geresportes.scm.azurewebsites.net/</PublishUrl>
    <UserName>$geresportes</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>